<nav>
  <a href="{{ '/' | relative_url }}" class="{% if page.active %} active{% endif %}">Overview</a>
  <a href="{{ '/arguments' | relative_url }}" class="{% if page.active %} active{% endif %}">Arguments</a>
  <a href="{{ '/multisite' | relative_url }}" class="{% if page.active %} active{% endif %}">Multisite</a>
  <a href="{{ '/migration' | relative_url }}" class="{% if page.active %} active{% endif %}">Migration</a>
  <a href="{{ '/timeline' | relative_url }}" class="{% if page.active %} active{% endif %}">Timeline</a>
</nav>