body {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  color: #c0c0c0;
  background-color: #111;
}

header{
  max-width: 960px;
  margin:0 auto;
  padding: 60px;
  border-bottom: 1px solid #333;
}

main {
  max-width: 960px;
  margin:0 auto;
  padding:60px;
}

nav a{
  display: inline-block;
  margin: 5px 10px;
  letter-spacing: .03em;
  color: #fff;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.3em;
  color: #fff;
}

hr {
  border-color: #333;
  margin: 30px 0;
}

td  {
  padding:10px;
  border: 1px solid #333;
  border-collapse: collapse;
}