body {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
  color: #999;
  background-color: #111;
}

header{
  text-align: center;
  max-width: 960px;
  margin:0 auto;
  padding: 60px;
  border-bottom: 1px solid #333;
}

main {
  max-width: 960px;
  margin:0 auto;
  padding:60px;
}

nav a{
  display: inline-block;
  margin: 5px 10px;
  letter-spacing: .03em;
}

a {
  color: #fff;
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fff;
}

hr {
  border-color: #333;
  margin: 30px 0;
}