body {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  color: #ccc;
  background-color: #111;
}

header{
  text-align: center;
  max-width: 960px;
  padding: 60px;
  border-bottom: 1px solid #333;
}

main {
  max-width: 960px;
  margin:0 auto;
  padding:60px;
}

nav a{
  display: inline-block;
  margin: 10px 20px;
  letter-spacing: .03em;
}

a {
  color: #fff;
  text-decoration: underline;
}

h1, h2, h3 {
  color: #fff;
}